@import "normalize";

$white          : #ffffff;
$black          : #000000;
$red-light      : #e74f36;
$red-dark       : #d4523c;
$gray-dark      : #8a9ea8;
$gray-light     : #d3d3d3;
$blue-dark      : #2f3b4c;
$blue-light     : #2f3b4c;
$btn-blue       : #3f96f8;

body {
  background: $white;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.wrapper_wide {
  width: 90%;
  margin: 0 auto;
}

.wrapper_padding {
  padding: 0 1.5rem;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.wrapper_skinny {
  width: 60%;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  color: $white;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.375rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p, li {
  font-size: 1.1rem;
  line-height: 1.75;
}

p, ul, ol {
  margin: 0 0 1.6em 0;
}

.button_tambah {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  padding: .8em 1.5em;
  border: 2px solid $white;
  transition: background .4s ease-in-out;
  border-radius: .5em;
  color: $white;
  background: $red-dark;
  &:hover {
    background: darken($red-dark, 10%);
  }
}

.button_tambah_mini {
  padding: .25em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  border: 2px solid $white;
  transition: background .4s ease-in-out;
  border-radius: .5em;
  color: $white;
  background: $red-dark;
  &:hover {
    background: darken($red-dark, 10%);
  }
}

footer {
  border-top: 1px solid $white;
  margin-top: 10em;
  padding-top: 2em;
  .copyright {
    float: left;
    font-weight: 100;
    font-size: 1.5em;
    color: $white;
  }
  nav {
    float: right;
    a {
      font-size: 1.5em;
      margin-left: .75em;
      color: $white;
    }
  }
}

@import "welcome";
@import "kosts";
