$white          : #ffffff;
$black          : #000000;
$red-light      : #e74f36;
$red-dark       : #d4523c;
$gray-dark      : #8a9ea8;
$gray-light     : #d3d3d3;
$blue-dark      : #2f3b4c;
$blue-light     : #2f3b4c;
$btn-blue       : #3f96f8;
